NODE_ENV=production || development #environment

# Server
PORT=8080

# Database Defaults
DB_HOST=localhost
DB_PORT=6543
DB_PORT_INTERNAL=5432
DB_NAME=quiz_db
DB_USER=postgres
DB_PASSWORD=your_postgres_password_here

# pgAdmin Dashboard
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password_here
PGADMIN_PORT=5050

# Security
# Generate a secure string using: node -e "require('crypto').randomBytes(64).toString('hex')"
JWT_REFRESH_TOKEN_SECRET=your_jwt_secret_here
JWT_ACCESS_TOKEN_SECRET=your_jwt_secret_here